body {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}


#search_section {
    display: flex;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    width: 100%;
    height: 70px;
    background-color: white;
    padding: 10px;
    padding-top: 10px;
    padding-left: 20px;
}

#search_box {
    display: flex;
    width: 70%;
    height: 50px;
    background-color: white;
    padding: 0px;
    padding-top: 8px;
    padding-left: 20px;
    border: 0.5px solid rgba(0 0 0/0.08);
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0px 3px 10px rgba(0 0 0/0.1); 
    
}


#search_icon_container {
    display: flex;
    width: 30px;
    height: 100%;
}

#search_icon_image {
    width: 20px;
    height: 20px;
    margin-top: 10px;
}

#search_text_container {
    display: inline-block;
    width: 70%;
    height: 100%;
}

#search_box_line1 {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    opacity: 0.8;
    width: 100%;
}

#search_box_line2 {
    display: inline-block;
    font-size: 12px;
    font-weight: 250;
    opacity: 0.6;
    width: 100%;
}

#filter_button {
    margin: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: white;
    padding: 10px;
    border: 1px solid rgba(0 0 0/0.3);
    border-radius: 30px;
    /* Adjust the border-radius to control the curvature */
    align-items: center;
    justify-content: center;
}

#filter_button_image {
    width: 17px;
    height: 17px;
    padding-left: 2px;

}


#category_section {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
    padding-left: 20px;
    padding-bottom: 10px;
    color: rgb(113, 113, 113);
    background-color: white;
    overflow-x: hidden;

}

.category_icon {
    display: inline-block;
    width: 100px;
    height: 70px;
    /* border: 1px solid rgba(0 0 0/0.2); */
    text-align: center;
}

.category_image img {
    width: 25px;
    padding: .4rem;
    flex: 1 1 auto;
    opacity: 0.642534;
}


.category_text {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}

/* #content_scroll_wrap {

} */

#content_scroll_container {
    height: calc(100vh - 240px);
    overflow-y:auto;
    overflow-x: hidden;
}

#gallery_section {
    width: 100%;
    /* height: 450px; */
    box-shadow: inset 0px 10px 5px -9px rgba(0, 0, 0, 0.24);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    /* overflow-y: scroll; */
}

.gallery_listing {
    margin-bottom: 40px;
    position: relative;
    /* need this for anchoring absolute elements contained */
}

.gallery_listing_image {
    width: 90%;
    height: 330px;
}

.gallery_listing_image img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
    /* decides how to fit image into container, cover zooms in to fit height, chopping off edges */
}

.guest_favourite_button {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 20px;
    background-color: #ffffff;
    position: absolute; 
    /* need this along with a relative container to fix position*/
    top: 20px;
    left: 15px;
    font-size: 15px;
    font-weight: 500;
    color: #2f2a2a;
}

.heart_favourite_button {
    position: absolute;
    top: 20px;
    left: 300px;
    align-items: center;
}

.heart_favourite_button img {
    outline: #ffffff;
    height: 24px;
    width: 24px;
    fill: #332f2fbd;
    stroke: #ffffff;
    stroke-width: 2px;
    opacity: 0.6;
}

.gallery_listing_text_container {
    padding-top: 8px;
}

.gallery_listing_text_container p {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.gallery_listing_text_container p img {
    width: 12px;
    height: 12px;
}

.gallery_listing_text_title_bold {
    font-weight: 500;
    padding-right: 50px;
    opacity: 0.8;
}


.gallery_listing_text_title_light {
    /*2 lines of light text 'Professional Host and dates' */
    font-weight: 300;
    opacity: 0.6;
}

.underlined {
    text-decoration: underline;
    font-weight: 400;
    padding-top: 4px;
    opacity: 0.8;
}

.continue_exploring_beachfront_homes_title {
    /* margin-top: 56px; */
    padding-bottom: 15px;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 500;
}

.show_more_button_container {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 30px;

}

.show_more_button {
    /* justify-content: center; */
    text-align: center;
    width: 90px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 10px;
    background-color: #090909;
    font-size: var(--iw-ehf-f);
    font-weight: var(--jx-zk-pv);
    color: #ffffff;
}

.inspiration_for_future_getaways_title {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: rgb(247, 247, 247);
}

.inspiration_for_future_getaways_category_text {
    display: flex;
    border-bottom: 1px solid rgba(60, 57, 57, 0.3);
    padding-bottom: 15px;
    background-color: rgb(247, 247, 247);
}

.future_getaways_category_text {
    width: 100px;
    /* height: 70px; */
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: rgb(113, 113, 113);
}

.future_getaways_list {
    padding: 0;
    margin: 0;
    display: grid;
    list-style-type: none;
    grid-template-columns: 159.5px 159.5px;
    column-gap: 8px;
    font-size: 14px;
    line-break: strict;
    line-height: 20.02px;
    row-gap: 24px;
    padding-left: 20px;
    padding-bottom: 50px;
    padding-top: 20px;
    background-color: rgb(247, 247, 247);
}

.future_getaways_list li .future_getaway_title {
    font-weight: 600;
    color: rgb(34, 34, 34);
}

.future_getaways_list li .future_getaway_subtitle {
    font-weight: 400;
    color: rgb(113, 113, 113);
}

.future_getaways_list img {
    width:12px;
    height:12px;
}


#bottom_user_buttons_section {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 15px;
    border-top: 1px solid rgba(62, 60, 60, 0.3);
}

.user_button_container {
    width:75px;
    height:44px;
    text-align: center;
    font-size: 10px;
    color: rgb(113, 113, 113);
}

.user_button_container img {
    width:24px;
    height:24px;
    opacity: 0.6;
}

.user_button_container svg {
    width:24px;
    height:24px;
}

