body {
    background-color: #fff;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
}


#search-section {
    background-color: white;
    display: flex;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    height: 70px;
    padding: 10px;
    padding-left: 20px;
    padding-top: 10px;
    width: 100%;
}

#search-box {
    background-color: white;
    border: 0.5px solid rgba(0 0 0/8%);
    border-radius: 50px;
    box-shadow: 0 3px 10px rgba(0 0 0/10%);
    display: flex;
    height: 50px;
    overflow: hidden;
    padding: 0;
    padding-left: 20px;
    padding-top: 8px;
    width: 70%; 
    
}


#search-icon-container {
    display: flex;
    height: 100%;
    width: 30px;
}

#search-icon-image {
    height: 20px;
    margin-top: 10px;
    width: 20px;
}

#search-text-container {
    display: inline-block;
    height: 100%;
    width: 70%;
}

#search-box-line1 {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    opacity: 0.8;
    width: 100%;
}

#search-box-line2 {
    display: inline-block;
    font-size: 12px;
    font-weight: 250;
    opacity: 0.6;
    width: 100%;
}

#filter-button {
    /* Adjust the border-radius to control the curvature */
    align-items: center;
    background-color: white;
    border: 1px solid rgba(0 0 0/30%);
    border-radius: 30px;
    display: inline-block;
    height: 20px;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    width: 20px;
}

#filter-button-image {
    height: 17px;
    padding-left: 2px;
    width: 17px;

}


#category-section {
    background-color: white;
    color: rgb(113 113 113);
    display: flex;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    gap: 20px;
    justify-content: flex-start;
    overflow-x: hidden;
    padding-bottom: 10px;
    padding-left: 20px;
    width: 100%;

}

.category-icon {
    display: inline-block;
    height: 70px;

    /* border: 1px solid rgba(0 0 0/0.2); */
    text-align: center;
    width: 100px;
}

.category-image img {
    flex: 1 1 auto;
    opacity: 0.642;
    padding: .4rem;
    width: 25px;
}


.category-text {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

/* #content-scroll-wrap {

} */

#content-scroll-container {
    height: calc(100vh - 240px);
    overflow:hidden auto;
}

#gallery-section {
    /* height: 450px; */
    box-shadow: inset 0 10px 5px -9px rgb(0 0 0 / 24%);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    width: 100%;

    /* overflow-y: scroll; */
}

.gallery-listing {
    margin-bottom: 40px;
    position: relative;

    /* need this for anchoring absolute elements contained */
}

.gallery-listing-image {
    height: 330px;
    width: 90%;
}

.gallery-listing-image img {
    border-radius: 15px;
    height: 100%;
    object-fit: cover;
    width: 100%;

    /* decides how to fit image into container, cover zooms in to fit height, chopping off edges */
}

.guest-favourite-button {
    background-color: #fff;
    border-radius: 20px;
    color: #2f2a2a;
    font-size: 15px;
    font-weight: 500;
    left: 15px;
    padding: 8px 12px;
    position: absolute; 

    /* need this along with a relative container to fix position */
    top: 20px;
}

.heart-favourite-button {
    align-items: center;
    left: 300px;
    position: absolute;
    top: 20px;
}

.heart-favourite-button img {
    fill: #332f2fbd;
    height: 24px;
    opacity: 0.6;
    outline: #fff;
    stroke: #fff;
    stroke-width: 2px;
    width: 24px;
}

.gallery-listing-text-container {
    padding-top: 8px;
}

.gallery-listing-text-container p {
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.gallery-listing-text-container p img {
    height: 12px;
    width: 12px;
}

.gallery-listing-text-title-bold {
    font-weight: 500;
    opacity: 0.8;
    padding-right: 50px;
}


.gallery-listing-text-title-light {
    /* 2 lines of light text 'Professional Host and dates' */
    font-weight: 300;
    opacity: 0.6;
}

.underlined {
    font-weight: 400;
    opacity: 0.8;
    padding-top: 4px;
    text-decoration: underline;
}

.continue-exploring-beachfront-homes-title {
    font-size: 1.125rem;
    font-weight: 500;

    /* margin-top: 56px; */
    padding-bottom: 15px;
    text-align: center;
}

.show-more-button-container {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    width: 100%;

}

.show-more-button {
    background-color: #090909;
    border-radius: 10px;
    color: #fff;
    font-size: var(--iw-ehf-f);
    font-weight: var(--jx-zk-pv);
    padding: 14px 24px;

    /* justify-content: center; */
    text-align: center;
    width: 90px;
}

.inspiration-for-future-getaways-title {
    background-color: rgb(247 247 247);
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 20px;
    padding-top: 40px;
    text-align: center;
}

.inspiration-for-future-getaways-category-text {
    background-color: rgb(247 247 247);
    border-bottom: 1px solid rgb(60 57 57 / 30%);
    display: flex;
    padding-bottom: 15px;
}

.future-getaways-category-text {
    color: rgb(113 113 113);
    font-size: 14px;
    font-weight: 500;

    /* height: 70px; */
    text-align: center;
    width: 100px;
}

.future-getaways-list {
    background-color: rgb(247 247 247);
    display: grid;
    font-size: 14px;
    gap: 24px 8px;
    grid-template-columns: 159.5px 159.5px;
    line-break: strict;
    line-height: 20.02px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-top: 20px;
}

.future-getaways-list li .future-getaway-title {
    color: rgb(34 34 34);
    font-weight: 600;
}

.future-getaways-list li .future-getaway-subtitle {
    color: rgb(113 113 113);
    font-weight: 400;
}

.future-getaways-list img {
    height:12px;
    width:12px;
}


#bottom-user-buttons-section {
    border-top: 1px solid rgb(62 60 60 / 30%);
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 15px;
    width: 100%;
}

.user-button-container {
    color: rgb(113 113 113);
    font-size: 10px;
    height:44px;
    text-align: center;
    width:75px;
}

.user-button-container img {
    height:24px;
    opacity: 0.6;
    width:24px;
}

.user-button-container svg {
    height:24px;
    width:24px;
}

